@{
    ViewBag.Title = "GiftCard";
}

@section Scripts{
    <script src="~/Scripts/belizeon.js"></script>
}

<div class="jumbotron" style="background-color: #F2F2F2">
    <h1>Thanks For Your Purchase</h1>
    <p class="lead">In a few minutes you will received an email with yourgift card, waiting for it.</p>
    <p><a href="https://belizeon.bz/" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
</div>